<div class="card">
    <div class="card-header">
        <h1>Lista de Vehiculos</h1>
      </div>
    <div class="card-body">
      <label class="form-label;">Filtrar por:</label>
      <input type="text" class="form-control" [(ngModel)]="filtrarPor">
    </div>
  </div>
  <button type="button" class="btn btn-primary">Nuevo</button>
<table class="table table-dark">
    
      <thead>
        <tr>
          <th colspan="7">
            <button class="btn btn-success" (click)="mostrarImagen = !mostrarImagen">Mostrar Imagen</button>
          </th>
        </tr>
        <tr>
          <th scope="col">Imagen</th>
          <th scope="col">Codigo</th>
          <th scope="col">Marca</th>
          <th scope="col">Modelo</th>
          <th scope="col">Anio</th>
          <th scope="col">Calificacion</th>
          <th scope="col">Opciones</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let vehiculo of getListaVehiculos()">
          <td style="width: 10%;">
            <img class="img-thumbnail" [src]="vehiculo.foto" *ngIf="mostrarImagen">
          </td>
          <th scope="row">{{vehiculo.codigo}}</th>
          <td>{{vehiculo.marca}}</td>
          <td>{{vehiculo.modelo}}</td>
          <td>{{vehiculo.anio}}</td>
          <td>
            <app-calificacion [calificacion]="vehiculo.calificacion" (select)="mostrarAlerta($event)"></app-calificacion>
          </td>
          <td>
            <div class="btn-group" role="group" aria-label="Basec mixed styles example">
              <a class="btn btn-primary" [routerLink]="[vehiculo.codigo]">Ver</a>
              <button class="btn btn-danger" (click)="eliminarVehiculo(vehiculo)">Eliminar</button>
            </div>
          </td>
        </tr>
    </tbody>
  </table>